@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700;900&family=Montserrat:wght@500;700;800&display=swap");

:root {
  --primary-color: #0fe456;
  --primary-light-color: #63e990;
  --secondary-color: #2bb0ee;
  --secondary-light-color: #63c0eb;
  --warning-color: #ec4f34;
  --warning-light-color: #ee6d57;
  --dark-color: #3a3a3a;
  --code-background: rgb(219, 232, 245);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  margin-left: 250px;
}

pre {
  font-weight: bold;
  background-color: var(--code-background);
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  overflow-x: auto;
  font-family: "Josefin Sans";
}

pre * {
  font-family: "Josefin Sans";
}

code {
  font-family: "Josefin Sans";
  font-weight: bold;
  padding: 5px;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: rgb(229, 230, 252);
}

@media (max-width: 750px) {
  body {
    margin: 60px 10px 0 10px;
  }
}
